html {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* chessboard size and position*/
body {
    overflow: hidden;
    margin: 0;
    width: 40vw;
    display: inline-block;
    border: 1vw solid rgba(122, 65, 27, 0.979);
    box-shadow: -5px 5px 10px rgba(63, 33, 13, 0.897);
/* position */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
    transform: translate(-50%, -50%);
}

/* field sizes */
main > section > div , img {
    float: left;
    line-height: 5vw;
    width: 5vw;
    height: 5vw;
}

/* flip cards*/
main > section > div > div {
    width: 100%;
    height: 100%;
    line-height: 5vw;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* flipper animation */
section > div > div:hover {
    transform: rotateY(180deg);
}

/* flip cards content */
section > div > div > div {
    /* sizing */
    position: absolute; 
    width: 100%;
    height: 100%;
    /* text parameters */
    text-align: center;
    color: rgb(181, 136, 255);
    font-size: 4vw;
    /* animation parameters */
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* CHESSBOARD COLORING */
main > section:nth-of-type(odd) > div:nth-of-type(odd) {
    background-image: linear-gradient(#FDFCFB, #E2D1C3);
}

main > section:nth-of-type(odd) > div:nth-of-type(even) {
    background-image: linear-gradient(#434343, #000000);
}

main > section:nth-of-type(even) > div:nth-of-type(odd) {
    background-image: linear-gradient(#434343, #000000);
}

main > section:nth-of-type(even) > div:nth-of-type(even) {
    background-image: linear-gradient(#FDFCFB, #E2D1C3);
}